<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>MopedLove3k</title>
  <link rel="shortcut icon" href="../img/favicon.png">
  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.5/css/unicons.css">
  <link rel="stylesheet" href="../styles/style.css" />
</head>

<body id="about-body">
  <header>
    <div class='hr'>
      <nav>
        <p class="nav-text"><a href="./game.html">Game</a></p>
        <p class="nav-text"><a href="./about.html">About</a></p>
      </nav>
    </div>
    <h1>
      <a href="../index.html">
        <img src="../img/logo.gif" alt="logo" id="logo">
        <span class="bigger">M</span>OPED<span class="bigger">L</span>OVE
        <span class="bigger">3</span><span class="bigger">K</span>
        <img src="../img/logo.gif" alt="logo" id="logo">
      </a>
    </h1>
    <div class='hr'></div>
  </header>

  <main id="about">
    <section>
      <h2>
        <span class="bigger">A</span>bout <span class="bigger">T</span>he <span class="bigger">G</span>ame
      </h2>
      <p>Hi, my name is Maria.</p>
      <p>
        I have built this game as a first project during my Web Development bootcamp at Ironhack.
        Hope you enjoyed!
      </p>
      <br>
      <p>Find me on Github!</p>
      <a href="https://github.com/lemade3k/" target="_blank">
        <img src="../img/github-icon.png" alt="github-icon">
      </a>
    </section>
    <section>
      <h2>
        <span class="bigger">M</span>usic <span class="bigger">S</span>ponsored <span class="bigger">B</span>y 
      </h2>
      <h3>
        <span class="bigger">K</span>enny <span class="bigger">K</span>enny
        <span class="bigger">O</span>h <span class="bigger">O</span>h
      </h3>
      <p>Listen on bandcamp!</p>
      <a href="https://kennykennyohoh.bandcamp.com/">
        <img src="../img/bandcamp-icon.png" alt="bandcamp-icon">
      </a>
    </section>
    <section>

    </section>
  </main>

  <footer><a href="./about.html">Made by lemade3k</a></footer>
</body>

</html>
