<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>MopedLove3k</title>
  <link rel="shortcut icon" href="../img/favicon.png">
  <link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.5/css/unicons.css">
  <link rel="stylesheet" href="../styles/style.css" />
</head>

<body>
  <header>
    <div class='hr'>
      <nav>
        <p class="nav-text"><a href="./game.html">Game</a></p>
        <p class="nav-text"><a href="./about.html">About</a></p>
      </nav>
    </div>
    <h1>
      <a href="../index.html">
        <img src="../img/logo.gif" alt="logo" id="logo">
        <span class="bigger">M</span>OPED<span class="bigger">L</span>OVE<span class="bigger">3</span><span
          class="bigger">K</span>
        <img src="../img/logo.gif" alt="logo" id="logo">
      </a>
    </h1>
    <div class='hr'></div>
  </header>

  <main id="game">
    <div id="volume">
      <i class="uil uil-volume-mute"></i>
    </div>
    <canvas id="game-canvas" width="1000" height="600"></canvas>
  </main>

  <footer>Made by lemade3k</footer>

  <script src="../js/background.js"></script>
  <script src="../js/driver.js"></script>
  <script src="../js/barricades.js"></script>
  <script src="../js/timer.js"></script>
  <script src="../js/game.js"></script>
</body>

</html>
