/* General */
@font-face {
  /*credits to http://www.onlinewebfonts.com*/
  font-family: 'amigaForeverPro2';
  src: url('../fonts/Amiga\ Forever\ Pro2.ttf') format('truetype'),
       url('../fonts/Amiga\ Forever\ Pro2.woff2') format('woff2'),
       url('../fonts/Amiga\ Forever\ Pro2.woff') format('woff');
}  

body {
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  font-family: 'amigaForeverPro2';
}

a {
  text-decoration: none;
  font-weight: bolder;
  color: black
}

header {
  padding: 20px 0;
  background-color: black;
}

header .hr {
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

header nav {
  width: 1200px;
  display: flex;
  justify-content: flex-end;
}

header nav p {
  padding-right: 20px;
}

header h1 {
  display: flex;
  align-items: baseline;
  justify-content: center;
  font-size: 3.6em;
  color: white;
}

header h1 a, footer a {
  color: white;
}

header h1 img {
  height: 55px;
}

.bigger {
  font-size: 1.2em;
}

main {
  display: flex;
  flex-direction: column;
  margin: 40px auto;
  width: 1100px;
  background-color: #ddd;
  justify-content: center;
}

main section {
  width: 800px;
  margin: 20px auto;
  font-size: 1em;
  text-align: center;
}

h1, h2, h3 {
  text-transform: uppercase;
}

footer {
  margin-top: auto;
  display: flex;
  justify-content: center;
  padding: 5px;
  color: white;
  font-size: 0.8em;
  background-color: black;
}

/* index.html */
a.driver {
  text-decoration: none;
}

a.driver img {
  width: 150px;
  margin: 30px 10px;
}

/* game.html */
main#game {
  height: 650px;
}

main#game canvas {
  width: 1000px;
  height: 600px;
  margin: auto;
}

#volume i {
  position: absolute;
  margin: 25px 7px;
  font-size: 1.5em;
  border: 1px solid;
  cursor: pointer;
}

/* game-over.html */
table.highscores {
  margin: 20px auto;
  border-collapse: collapse;
  font-size: 1em;
}

table.highscores th, table.highscores td {
  width: 180px;
  padding: 5px;
  text-align: center;
}

@keyframes blink {
  50% {border-color: black;}
}

table.highscores .current-score {
  border: 2px solid #ddd;
  animation: blink .5s step-end infinite alternate;
}

table.highscores .current-score td {
  padding: 5px;
}

.not-top {
  border: 2px solid #ddd;
  font-size: 1.1em !important;
  animation: blink .5s step-end infinite alternate;
}

section#again h2 {
  margin-bottom: 5px;
}

section#again p {
  margin-top: 0;
}
